#game {
  display: flex;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), calc(80vw / var(--GRID_WIDTH)));
}

#pause-btn,
#stop-btn,
#start-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#pause-btn:hover,
#stop-btn:hover,
#start-btn:hover {
  background-color: #45a049; /* Darker Green */
}

.cell {
  aspect-ratio: 1;
  background-color: white;
  border: 1px lightseagreen solid;
}
